.title-menu
{
	background-color:#000;
	height:40px;
}
.title-menu-item
{
	padding-bottom: 8px; padding-top:9px; 
	border-bottom: 3px solid  #0093D5;
	float:left;
	margin-left:15px;
}
.title-menu-item:hover, .current
{
	color:#d9ddde;
	border-bottom: 3px solid  #FE1B74;
}
.title-menu-text
{
	background: url('../images/left_ico_money.png') no-repeat scroll 0 0 transparent;
	display:block;
	height: 20px; 
	line-height:22px; 
	padding-left: 24px;
	margin-left:-8px;
}